#sc-body h1,h2 {font-family: 'Open Sans', sans-serif;}
#sc-body h1 {font-size: 36px;}
#sc-body h2 {font-size: 24px; letter-spacing: -1px; font-weight: normal;}
#sc-body {padding: 0 0 0 25px;}
#sc-body td {vertical-align: middle;}
#sc-body td.siteTitle {font-weight: bold;}
#sc-body a {text-decoration: none;}
#sc-body p {font-family: 'Droid Sans', sans-serif; font-size: 14px; color: #757575; line-height: inherit;}

#sc-main {width:600px; float: left;}
#sc-main .icon32 {float: left; height: 34px; margin: 15px 8px 0 0; width: 36px;}

#sc-sideBanner-container {float: left; border: 1px solid; margin-top:25px; margin-left: 50px; padding:5px; height: 800px; background-color: #4e555d;}
#sc-newspress-iframe {height: 800px;}